{% extends "base.html" %}

{% block content %}
    <form action="{% url 'blog_add' %}" method="POST" xmlns="http://www.w3.org/1999/html">
        {% csrf_token %}
		<div class="column">
		<div style="max-width: 200px;margin: auto;">
        <input  required="required" type="text" name="title" placeholder="Title"></br>
		</div>
		</div>
		<div class="column">
		<div style="max-width: 400px;margin: auto;">
        <textarea style="min-height: 200px;" required="required" rows="50" name="text" class="max-width" placeholder="Write something..."></textarea></br>
        </div>
		</div>
		<div class="column text-center">
		<button id="add" type="submit" class="btn">Add entry</button>
		</div>
    </form>
{% endblock %}