{% extends "base.html" %}

{% block content %}
    <form action="{% url 'entry_edit' eid %}" method="POST" xmlns="http://www.w3.org/1999/html">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>


        <div class="column text-center">
            <button id="submit_edited" type="submit" class="btn">Submit edited entry</button>
        </div>
    </form>
{% endblock %}