{% extends "base.html" %}

{% block content %}


    {% for entry in entries %}
        <article>

            <h3>{{ entry.title }}</h3>
            <h7><a href={% url 'entry_edit' entry.pk %} }>[edit]</a></h7>
            <h6>Written by <a href="{% url 'entries_view' entry.author %}">{{ entry.author }}</a> on {{ entry.date }}.</h6>

            <div class="row">
                <div class="large-12 columns">
                    <p>{{ entry.text }} </p>
                </div>
            </div>
            <div class="last_edited">
                <small><b>
                    {% if entry.last_edit_date %}
                        Last modified by: {{ entry.last_editor_name }} on: {{ entry.last_edit_date }}
                    {% endif %} 
                </b></small>
            </div>
            <div class="taglist">
                <small>Tags:
                     {% for tag in entry.tags.all %}
                        <a href="{% url 'tag_entries_view' tag.text %}"> {{ tag.text }} </a>
                     {%  empty %}
                         No tags?
                     {% endfor %}
                </small>
            </div>
        </article>
        <hr />
    {% endfor %}


{% endblock %}