{% extends "base.html" %}
{% block content %}
    <div class="text-center">
		<form action="" method="POST" xmlns="http://www.w3.org/1999/html">
            {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="column">
            <div class="has-button">
			<button type='submit' class="small button" >Login</button>
       </div>
        </div>
		</form>
    </div>
{% endblock %}